# When adding additional environment variables, the schema in "/src/env.js"
# should be updated accordingly.

# Drizzle
DATABASE_URL="file:./db.sqlite"

# Example:

SINGLESTORE_HOST=
SINGLESTORE_PORT=
SINGLESTORE_USER=
SINGLESTORE_PASS=
SINGLESTORE_DB_NAME=

NODE_ENV=
